<app-header></app-header>
<img src="../../../assets/images/kidswithwork.jpeg">
<div class="main-card">
  <div class="card card1">
    <div class="card-body">
      <i class="fa fa-user" aria-hidden="true"></i>
      <p>This is for admin <br>for maintain the profiles of students</p>
    </div>
  </div>
  <div class="card card2">
    <div class="card-body">
      <i class="fa fa-group"></i>
      <p>This is for Teachers can <br>creates the Homework and aasign the work to students</p>
    </div>
  </div>
  <div class="card card3">
    <div class="card-body">
      <i class="fa fa-user-plus"></i>
      <p>This is for Students can <br>Register and login maintain their HomeWork</p>
    </div>
  </div>
</div>
<app-footer></app-footer>



