<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SignUp</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li>
      <a class="nav-link" routerLink="/home">e-HomeWork</a>
    </li>
    <li>
      <a class="nav-link" href="#">(040-31231233)</a>
    </li>
  </ul>
</nav>
