.main-div {
  margin-top: 20px;
  h2 {
    font-size: 32px;
    font-family: Gotham-Bold;
    color: #1fc8db;
    letter-spacing: 0;
    line-height: 16px;
  }
}

nav {
  ul {
    li {
      font-family: Gotham-Medium;
      font-size: 14px;
      color: #3F4244;
      letter-spacing: 0;
      line-height: 16px;
    }
  }
}

a.nav-link:hover {
  color: #ffffff !important;
}

.bg-info {
  background-image: linear-gradient(to right, #1fc8db 20%, #2cb5e8 80%);
}
